/* ====== Fuentes del googles, el poppins me gusta ======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
/* ====== PALETA DE COLORES ======*/
--body-color: #E4E9F7;
--sidebar-color: #FFF;
--primario-color:#695CFE ;
--primario-color-claro:#F6F5FF ;
--toggle-color:#DDD ;
--text-color: #707070;

/* ====== TRANSICIONES ======*/
--tran-02: all 0.2s ease;
--tran-03: all 0.3s ease;
--tran-04: all 0.4s ease;
--tran-05: all 0.5s ease;
}


body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05); /*== velocidad cambio de modo ==*/
}
body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primario-color:#3A3B3C ;
    --primario-color-claro:#3A3B3C ;
    --toggle-color:#FFF ;
    --text-color: #CCC;
}

/* ==== BARRA LATERAL ==== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}
.sidebar.close{
    width: 88px;
}

/* ==== CSS REUSABLE ==== */
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px; 
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;

}

.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;

    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primario-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);

}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar .menu{
    margin-top: 35px;
}
.sidebar .search-box{
    background: var(--primario-color-claro);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primario-color-claro);
    transition: var(--tran-05);
    color: var(--text-color);

}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primario-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primario-color-claro);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primario-color-claro);
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);

}

body.dark .switch::before{
    left: 24px;

}

.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}
.home::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: var(--tran-05);
}
.home.show::before{
    opacity: 1;
    pointer-events: auto;
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

/* ====== EL LOGINS y REGISTERS ======*/
.form_container{
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: var(--tran-04);

}
.home.show .form_container{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.signup_form{
    display: none;
}

.form_container.active .signup_form{
    display: block;
}
.form_container.active .login_form{
    display: none;
}

.form_close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input_box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2 ease;
    border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus{
    border-color: var(--primario-color);
}

.input_box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
        color: var(--text-color);
}

.input_box i.email,
.input_box i.password{
    left: 0;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.pw_hide{
    color: var(--primario-color);
}

.input_box i.pw_hide{
    right: 0;
    font-size: 18px;
}

.option_field{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_container a{
    color: var(--primario-color);
    font-size: 12px;
}

.form_container a:hover{
    text-decoration: underline;
}

.checkbox{
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
    cursor: pointer;
}

.checkbox input{
    accent-color: var(--primario-color);
}

.checkbox label{
    cursor: pointer;
    user-select: none;
    color: #0b0217;
    font-size: 12px;
}

.form_container .button{
    background: var(--primario-color);
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    border-color: var(--primario-color-claro);
}

.login_signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

/* ====== CONTAINER GALERIA ======*/
.container-galeria{
    position: relative;
    min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}

.container-galeria .search-box-galeria{
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.search-box-galeria input{
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #3A3B3C;
    padding: 0 15px 0 45px;
    color: #fff;
    border-radius: 6px;
}

.search-box-galeria i{
    position: absolute;
    z-index: 2;
    color: #999;
    top: 50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-50%);
}

.container-galeria .images-galeria .image-box{
    position: relative;
    height: 300px;
    width: 210px;
    border-radius: 6px;
    overflow: hidden;
}

.images-galeria{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.images-galeria .image-box{
    margin: 8px;
}
.images-galeria .image-box img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: transfornm 0.2s linear;
}

.image-box:hover img{
    transform: scale(1.05);
}

.image-box h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--primario-color);
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

/* ====== Landing page ======*/
.container-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px; 
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-landing img {
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-right: 20px; 
}

.text-landing {
    text-align: left;
    max-width: 600px; 
    color: var(--text-color);
}

.text-landing h6{
    text-align: left;
    max-width: 600px; 
    color: var(--text-color);
    font-size: 50px;
}

.text-landing button {
    color: var(--primario-color);
    border-radius: 6px;
    padding: 10px 20px; 
    margin-right: 10px; 
    font-size: 12px; 
}

.container-componentes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; 
}

/* ====== el slider del index ======*/

.slide-container{
    max-width: 1620px;
    width: 100%;
    background-color: transparent;
    padding: 40px;
}


.slide-content{
    margin: 0 40 px;
}

.card-slide{

    border-radius: 25px;
    background-color: #FFF;

}

.image-slide,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
}

.image-slide{
    position: relative;
    row-gap: 5px;
    padding: 60px 0;

}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primario-color);
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 13px;
    background-color: #695CFE;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;

}

.card-image {
    position: relative;
    height: 250px; 
    width: 250px; 
    margin: auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 6px;
}

.card-image img {
    max-height: 116%; 
    max-width: 116%; 
    object-fit: contain;
    border-radius: 6px;
    border: 1px solid #695CFE;
}



/*
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 6px;
}

.card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #695CFE;

}
*/
.name-slide{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}
.name-slidex2{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding-left: 190px;
}


.descripcion{
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
}

.button-slider{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: var(--primario-color);
    border-radius: 6px;
    cursor: pointer;
    transition: var(--tran-03)
}

.button-slider:hover{
    background: #265df2;
}

/* ====== Componentes.html  ======*/
.container-componentes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    color: var(--text-color);
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-componentes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.image-seleccion {
    text-align: center;
    max-width: 350px; 
    width: calc(20% - 20px); 
    box-sizing: border-box; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.image-seleccion img {
    margin-top: 13px;
    width: 100%;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
    padding: 10px;
}

.image-seleccion p {
    margin-top: 5px; 
}
.enlace-comp {
    color: var(--text-color); 
    text-decoration: none; 
}
/* ====== packsPc.html  ======*/
.container-packs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.content-packs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-packs {
    display: flex;
    gap: 20px; 
}

.image-packs {
    text-align: center;
    width: auto; 
    box-sizing: border-box; 
    border-radius: 15px; 
    border: 2px solid #695CFE; 
}

.image-packs img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    border-radius: 15px; 
}

.image-packs p {
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--text-color);
}
.image-packs h6 {
    font-size: 20px;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--text-color);
}

/* ====== zoom.html  ======*/
.lista-zoom{
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;
    color: var(--text-color);
}


/* ====== FORMULARIO DE MODIFICAR  ======*/
.form_modificar {
    margin-top: 20px;
}

.form_modificar form {
    display: flex;
    flex-direction: column;
}

.form_modificar label {
    margin-bottom: 10px;
    color: var(--text-color); /* Utilizando tu variable de color para el texto */
    margin-left: 130px;
}

.form_modificar input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--primario-color-claro); /* Utilizando tu variable de color para el borde */
    border-radius: 5px;
    margin-left: 130px;
    margin-right: 130px;
}

.form_modificar input[type="hidden"] {
    display: none;
}

.form_modificar button {
    padding: 10px 20px;
    background-color: var(--primario-color); /* Utilizando tu variable de color para el fondo del botón */
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 130px;
    margin-right: 130px;
}

.form_modificar button:hover {
    background-color: #265df2;
}

.form_modificar textarea,
.form_modificar select{
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--primario-color-claro); /* Utilizando tu variable de color para el borde */
    border-radius: 5px;
    margin-left: 130px;
    margin-right: 130px;
}


/* ====== FORMULARIO DE INSERTADO ======*/

.form_insertar {
    margin-top: 20px;
}

.form_insertar form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center; /* Alinea los elementos horizontalmente al centro */
}

.input-container {
    display: grid;
    grid-template-rows: auto auto; /* Ajusta el tamaño de fila automáticamente */
}

.form_insertar label {
    color: var(--text-color);
    margin-left: 130px;
    margin-right: 130px;
}

.form_insertar input,
.form_insertar textarea,
.form_insertar select {
    padding: 8px;
    border: 1px solid var(--primario-color-claro);
    border-radius: 5px;
    width: 80%;
    box-sizing: border-box;
    margin-left: 130px;
    margin-right: 130px;
}

.form_insertar input[type="hidden"] {
    display: none;
}

.form_insertar button {
    padding: 10px 20px;
    background-color: var(--primario-color);
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
    box-sizing: border-box;
}

.form_insertar button:hover {
    background-color: #265df2;
}



